<!doctype html >
<html lang="ru-UA" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/nanoreset/nanoreset.min.css">
    <link rel="stylesheet" href="/myapp/static/css/style.css">
</head>
<body>
<div class="login-page">
    <div class="container-fluid">
        <div class="login-message">
            <div class="row text-center">
                <div class="col">
                    <h4><p th:text="${message}"></p></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="login-content">
        <div><h1>LOGIN</h1></div>
        <div class="login-fields">
            <form action="/login" method="POST">
                <div><h2>Please enter your login and password:</h2></div>
                <div class="row justify-content-around">
                    <div class="col-4">
                        <div class="form-group login-field1">
                            <input required type="text" class="form-control" name="login"
                                   placeholder="Enter name" id="login">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-around">
                    <div class="col-4">
                        <div class="form-group login-field2">
                            <input required type="password" class="form-control" name="password"
                                   placeholder="Enter password" id="password">
                        </div>
                    </div>
                </div>

                <div class="login-buttom">
                    <div class="col-4">
                        <button type="submit" class="btn btn-secondary btn-lg btn-block"><span>Log in</span></button>
                    </div>
                    <div class="col-4">
                        <a href="/registration" class="btn btn-secondary btn-lg btn-block"><span>Sign up</span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>