<!doctype html >
<html lang="ru-UA" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header.html :: head(title='List gates')}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="img-under-header">
            <img src="/img/imgForSite/article.jpg" class="img-responsive">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div>
            <h3>Why are polarized lenses important?</h3>

            <p>We consume a world of reflected light and this light is constantly moving and in flux. Polarized
            lenses are important because they channel this reflected light therefore reducing the movement of this
            light, also known as glare.  This channeled light provides for more visual clarity and definition.</p>
            <p>Polarized lenses also address eye fatigue and strain from reflected light. Eye fatigue is caused as your
            pupils are chasing this reflected light, constantly expanding and contracting adjusting to the changing
            angle and intensity of the light. This eye fatigue is a direct trigger for headaches and migraines.</p>

            <h3>What makes them different from other lenses?</h3>

            <p>Polarized lenses have a polarized film that filters reflected light in a vertical plane
            (the reflected light is predominantly moving and vibrating in a horizontal plane) and in channeling that
            light, it removes the majority of the electromagnetic vibration, also known as glare.</p>

            <h3>Who should have polarized lenses in their glasses?</h3>

            <p>Everyone! Beyond UV protection and reducing the amount of light that penetrates the lens,
            the real point in having a sunglass is being able to see clearly without eyestrain in the constant
            barrage of reflected light.  Most people equate polarized lenses with outdoor activities on the water,
            but they are conducive to virtually all settings. You are getting almost as much reflected light from urban
            surfaces, e.g. auto windows and concrete, as you are on the water.  The mirror effect and movement of water
            of course amplifies this glare.</p>

            <h3>How are they manufactured?</h3>

            <p>The polarized film is aligned vertically and positioned between two lens wafers.</p>

            <h3>What is the difference in low quality polarized lenses and high quality polarized lenses?</h3>

            <p>Quality in a polarized lens starts with the quality of the lens material.
            The highest quality lenses are optical grade and are predominantly made out of CR39 or mineral glass.
            Equally important is how the film adheres to the lens and aligns.
            Premium polarized lenses use a higher quality polarized film sandwiched between two lenses,
            making sure that the film is perfectly aligned in the as-worn position in the vertical plane.
            Finally, quality polarized lenses use a backside anti-reflective coating on the inside of the lens.
            This anti-reflective coating absorbs light that enters from the back of the lens and prevents this light
            from reflecting back into your eye.  Premium quality lenses will use hydrophobic and oleophobic coatings that
            repel water and oils, to ensure that your lens is clean and clear.</p>
        </div>
    </div>
</div>
<div th:replace="~{/fragments/footer.html :: foot}"></div>