<!doctype html >
<html lang="ru-UA" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header.html :: head(title='Contacts')}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="img-under-header">
            <img src="/img/imgForSite/contact.png" class="img-responsive">
            <h1>CONTACTS</h1>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-md-4">Addresses and phone numbers for contacts</div>
                    <div class="col-md-8">
                        <form>
                            <div class="form-group">Verkhnyodniprovsk</div>
                            <div class="form-group">Gagarin st., building 29</div>
                            <div class="form-group">phone. +38(05658)5-55-55</div>
                            <div class="form-group">phone. +38(067)999-99-99</div>
                        </form>
                    </div>
                </div>
                <div class="sms">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">Feedback form</div>
                            <div class="col-md-8">
                                <form>
                                    <div class="form-group">
                                        <label for="name">Your name:</label>
                                        <input type="name" name="name" class="form-control" id="name"
                                               placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email1">E-mail:</label>
                                        <input type="email" name="email" class="form-control" id="email1"
                                               placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone number:</label>
                                        <input type="phone" name="phone" class="form-control" id="phone"
                                               placeholder="Phone">
                                    </div>
                                    <div class="form-group">
                                        <div class="row my-3 text-center justify-content-center">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="female" name="customRadio"
                                                       class="custom-control-input">
                                                <label class="custom-control-label" for="female">Female</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="male" name="customRadio"
                                                       class="custom-control-input">
                                                <label class="custom-control-label" for="male">Male</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Message:</label>
                                        <textarea class="form-control" name="message" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-info">Send</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row d-flex justify-content-center align-items-center map-contacts">
                    <div id="map-container-google-1" class="z-depth-1-half map-container">
                        <iframe src="https://maps.google.com/maps?q=Verkhn'odniprovs'k&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0"
                                style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/fragments/footer.html :: foot}"></div>