<!doctype html >
<html lang="ru-UA" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header.html :: head(title='Home')}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="img-under-header-index">
            <img src="/img/imgForSite/index.jpg" class="img-fluid">
            <div class="centered"><h1>SALT.</h1></div>
        </div>
    </div>
</div>

<div th:replace="~{/fragments/listGlasses.html :: list(glassesList = ${feature} , title= 'FEATURED')}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="second-img-for-index">
            <img src="/img/imgForSite/second-index.jpg" class="img-fluid">
        </div>
    </div>
</div>

<div th:replace="~{/fragments/listGlasses.html :: list(glassesList =${special}  , title= 'SPECIAL PROJECTS')}"></div>

<div class="container-fluid">
    <div class="row align-content-center">
        <div class="col-6">
            <div class="article-img-for-index">
                <img src="/img/imgForSite/first-article.jpg" class="img-fluid">
            </div>
        </div>
        <div class="col-6 my-auto">
            <div>
                DESIGNED IN CALIFORNIA AND HANDCRAFTED IN JAPAN. WE START WITH SUPERIOR RAW MATERIALS TO ACHIEVE THE
                HIGHEST QUALITY PAIR OF GLASSES. EACH PAIR OF SALT. GLASSES GOES THROUGH A 130 STEP PROCESS, PRODUCING A
                PIECE THAT CAN BE HANDED DOWN FOR GENERATIONS. BEST-IN-CLASS HARDWARE WITH A FOCUS ON FIT AND LUXURIOUS
                FINISHES.
            </div>
        </div>
        <div class="col-6 my-auto">
            <div>
                NOT ALL POLARIZED LENSES ARE CREATED EQUAL. AT SALT. WE WANT TO PROTECT YOUR EYES AND LIMIT EYE FATIGUE.
                LEARN MORE ABOUT OUR POLARIZED LENSES.
            </div>
        </div>
        <div class="col-6">
            <div class="article-img-for-index">
                <img src="/img/imgForSite/second-article.jpeg" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/fragments/footer.html :: foot}"></div>


