@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
a:hover {
    color: #3b4a9a;
}

/*small-navbar*/
.small-navbar {
    color: #0c0c0d;
    background: #f2f2f2;
    font-size: 14px;
}

.link-to-brand {
    font-size: 11px;
}

.small-navbar {
    height: 30px !important;
}

.small-navbar a:hover {
    color: #0c0c0d;
}

.small-navbar a {
    color: #0c0c0d !important;
}

/*big-navbar*/
.big-navbar {
    font-size: 15px;
    text-align: left;
    background-color: white;
}

.big-navbar {
    height: 50px !important;
}

.login {
    font-size: 14px;
}

.big-navbar a {
    color: #070707;
}

.big-navbar {
    margin-bottom: 25px;
}

.salt-brand {
    background-color: white;
}

.salt-brand a {
    margin-left: 50px;
    font-size: 35px;
    font-weight: 800
}

.navbar-toggler-icon {
    background-image: url(https://i.stack.imgur.com/mSXoO.png) !important;
}
/*img fragment listGlasses*/
.random-glasses-group img{
    max-width:635px ;
    max-height: 302px;
}
/*img under navbar*/
.img-under-header img {
    margin-bottom: 50px;
}

.img-under-header img {
    z-index: -1;
    left: 0;
    right: 0;
    min-width: 100%;
    max-height: 550px;
}

.img-under-header {
    position: relative;
    width: 100%;
}

.img-under-header h1 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 75px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*index - img under navbar in index.html*/
.img-under-header-index img {
    margin-top: 10px;
    margin-bottom: 50px;
}

.img-under-header-index {
    position: relative;
    width: 100%;
}

.img-under-header-index img {
    position: relative;
    z-index: -1;
    text-align: center;
    color: white;
    width: 100%;
}

.img-under-header-index h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 75px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*index - random list of card*/
.random-glasses-group {
    margin-bottom: 50px;
}

.random-glasses {
    margin-top: 20px;
    border: 0;
}

.random-glasses h3 {
    font-size: 25px;
}

/*index - second image*/
.second-img-for-index {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.second-img-for-index img {
    min-width: 100%;
    height: 750px;
}

/*index - article image*/
.article-img-for-index {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.article-img-for-index img {
    max-height: 700px;

}

/*article*/
.article h3 {
    text-indent: 40px;
    font-size: 25px;
    font-weight: 400;
    line-height: 180%
}

.article p {
    text-indent: 15px;
    font-size: 15px;
    line-height: 180%
}

/*contact*/
.map-contacts {
    margin-top: 30px;
}

/*glasses card*/
.glasses-card {
    margin-top: 50px;
}

.head-details {
    margin-top: 100px;
}

.head-details {
    margin-top: 100px;
}

.button-add-cart {
    margin-top: 50px;
    margin-bottom: 30px;
}

.button-add-cart {
    border-radius: 0;
    background: #000;
    color: #fff;
}

.button-add-cart:hover {
    background: #000;
    color: #fff;
}
/* login.html */
.login-content{
    background-color: gray;
    border: 20px solid #3b4a9a;
}
.login-content .form-control{
    margin-bottom: 20px;
}

.login-fields{
    display:flex;
    justify-content: center;
}
.login-fields input{
    size: ledger;
}

.login-fields span{
    color: magenta;
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
}

.login-field1 label{
    margin-right: 23px;
}

.login-buttom{
    display: flex;
    justify-content: space-around;

}

.login-buttom .btn-primary{
    border-radius: 25px;
}

.login-message{
    display: flex;
    justify-content: center;
}

/* error.html */
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900);
error-box {
    height: 100%;
    position: fixed;
    top: 20%;
    width: 100%
}

.error-body {
    padding-top: 5%
}

.error-body h1 {
    font-size: 210px;
    font-weight: 900;
    line-height: 210px
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 766px) {


}

@media only screen and (max-width: 480px) {

}