<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>AddGlassesServlet</servlet-name>
        <servlet-class>com.rk.web.servlet.AddGlassesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>com.rk.web.servlet.ArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.rk.web.servlet.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogGlassesServlet</servlet-name>
        <servlet-class>com.rk.web.servlet.CatalogGlassesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.rk.web.servlet.CategoryServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.rk.web.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGlassesServlet</servlet-name>
        <servlet-class>com.rk.web.servlet.EditGlassesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GlassesServlet</servlet-name>
        <servlet-class>com.rk.web.servlet.GlassesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.rk.web.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddGlassesServlet</servlet-name>
        <url-pattern>/addGlasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogGlassesServlet</servlet-name>
        <url-pattern>/catalog</url-pattern>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/sun</url-pattern>
        <url-pattern>/optical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGlassesServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlassesServlet</servlet-name>
        <url-pattern>/glasses/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
</web-app>